.cart-content-header {
    cart-notification-popup {
        .cart-notification-wrapper {
            position: relative;
            .cart-notification {
                display: block;
                border-bottom-right-radius: 9px;
                border-bottom-left-radius: 9px;
                box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
                padding: 1.5rem 1.5rem;
                right: 0;
                top: 100%;
                position: absolute;
                transform: translateY(-10%);
                visibility: hidden;
                width: 100%;
                min-width: 200px;
                z-index: 11;
                overflow: hidden;
                width: 250px;
                background-color: $light;
                &.animate {
                    transition: transform .2s ease, visibility 0s .2s ease;
                }
                &.active {
                    max-height: 100vh;
                    overflow-y: auto;
                    transform: translateY(0);
                    transition: transform .3s ease, visibility 0s;
                    visibility: visible;
                }
                @media screen and (min-width: 750px) {
                        max-width: 450px;
                        min-width: 400px;
                        right: 0;
                }
                &__header {
                    align-items: flex-start;
                    display: flex;
                    align-items: center;
                    button {
                        padding: 0;
                        width: 24px;
                        height: 24px;
                        border: 0;
                        background-color: transparent;
                    }
                    &--title {
                        align-items: center;
                        display: flex;
                        flex-grow: 1;
                        margin-bottom: 0;
                        margin-top: 0;
                        text-transform: uppercase;
                        font-size: 18px;
                        .icon-checkmark {
                            margin-right: 1rem;
                            width: 1.3rem;
                        }
                    }
                }
                &-product {
                    padding-top: 2rem;
                    + {
                        p.cart-is-empty {
                        display: block;
                        text-align: center;
                        }
                    }
                    .cart-popup-item-up {
                        align-items: center;
                        display: flex;
                        margin-bottom: 1rem;
                        margin-top: 0.5rem;
                    }
                }
                &-summary { 
                    display: none
                }
                &__links {
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    a {
                        transition: all .2s;
                        transform:translateY(-2px);
                        &:hover {
                            transform: translateY(0);
                        }
                        &.view-cart {
                            background-color: $light;
                        }
                    }
                }
                &__close {
                    max-width: 50px;
                    max-height: 50px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' role='presentation' class='icon icon-close' viewBox='0 0 37 40'%3E%3Cpath d='M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z'%3E%3C/path%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}
/* Cart Notification 

.cart-notification-product {
	padding-top: 2rem;
	+ {
		p.cart-is-empty {
			display: none;
		}
	}
	.cart-popup-item-up {
		align-items: center;
		display: flex;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
	}
}

.ajax-cart-item__image {
	display: inline-flex;
	margin-right: 1.5rem;
	max-width: 80px;
	&:after {
		content: none;
	}
}
.cart-popup-item-up {
	.item-info {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.ajax-cart-item__price {
		display: flex;
		align-items: center;
	}
}
span.ajax-cart-item__quantity {
	padding-left: 4px;
}
.ajax-cart-item__title {
	margin-top: 0;
	flex: 1;
	text-align: left;
	max-width: 135px;
	font-weight: 500;
}
.cart-notification__links {
	>* {
		margin-top: 1rem;
	}
	button {
		display: inline-flex;
		cursor: pointer;
		width: 100%;
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			border-radius: 8px;
		}
	}
}
#cart-notification-popup {
	.cart-notification__links {
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			margin-top: 0;
			display: flex;
			text-transform: uppercase;
			align-items: center;
			&:first-of-type {
				margin-right: 0.2rem;
				border-radius: 5px;
			}
		}
		a.btn-dark {
			border-radius: 5px;
		}
	}
}
.btn {
	[role=button] {
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			border-radius: 8px;
		}
	}
}
@media screen and (min-width: 750px) {
	.cart-notification {
		max-width: 450px;
		min-width: 400px;
		right: 0;
	}
}
*/