/* Product size guide */

.SizeGuideContent {
    padding: 1rem;
    margin-top: 33px;
    @media (min-width:925px) {
        padding: .1rem;
    }
    &-wrapper {
        gap:1rem;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f7;
        flex-direction: column;
        border-radius: 6px;
        @media (min-width:925px) {
            flex-direction: row-reverse;
        }
    }
    &-info {
        padding-right: 1rem;
        @media (min-width:768px) {
            min-width: 320px;
        }
    }
    dl {
        display: grid;
        grid-template-columns: max-content auto;
        font-size: 16px;
      }
      
    dt {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        background-color: $light;
        color: #c2c2c2;
        border: 1px solid #b2b2b2;
        text-align: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
       
    }
      
    dd {
        grid-column-start: 2;
        span {
            font-weight: 600;
        }
    }
   img {
    width: 100%;
    border-radius: 9px;
    margin-top: -33px;
    @media (min-width:768px) {
    -webkit-animation: rain-up-down .4s infinite  alternate;
    animation: rain-up-down .4s infinite  alternate;
    }
   }
}
@-webkit-keyframes rain-up-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  
  @keyframes rain-up-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.fslightbox-container .SizeGuideContent {
    &-wrapper {
       @media (min-width:768px) {
        padding-left: 1.2rem;
        flex-direction: row;
        gap:1.9rem;
       }
    }
    &-info {
        padding-top: 1rem;
        @media (min-width:768px) {
            padding-top: 0;
        }
    }
    img {
        filter: drop-shadow(0px 2px 4px rgba(8, 35, 48, 0.24));
        animation: unset;
       }
}